<div class="glass-card admin-dash" style="max-width: 700px; width: 100%;">

  <h2>Tableau de bord Administrateur</h2>
  <p class="sub">Bienvenue 👋</p>

  <ul class="dash-list">
    <li><a routerLink="/utilisateurs" class="dash-item">$ Gestion des utilisateurs</a></li>
    <li><a routerLink="/parkings" class="dash-item">$ Gestion des parkings</a></li>
    <li><a routerLink="/cartes" class="dash-item">$ Gestion des cartes RFID</a></li>
    <li><a routerLink="/transactions" class="dash-item">$ Transactions</a></li>
    <li><a routerLink="/accesslogs" class="dash-item">$ Journaux d'accès</a></li>
  </ul>

</div>